<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> 
					%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	
	
	<appender name="INFOLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>C:\log\foruminfo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         	<maxHistory>1</maxHistory>	
		</rollingPolicy>
		<encoder>
			<pattern> 
					%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	

	<appender name="ALLLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>C:\log\forumdebug.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<maxHistory>1</maxHistory>
    	</rollingPolicy>
    	<encoder>
    		<pattern>
      				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
      		</pattern>
    	</encoder>
  	</appender> 
  
  	<logger name="debugLogger" level="DEBUG" additivity="false">
   		<appender-ref ref="ALLLOG" />
  	</logger>
  
  	<logger name="infoLogger" level="INFO" additivity="false">
   		<appender-ref ref="INFOLOG" />
  	</logger>


	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>